<div class="row animated fadeIn fast">

  <!-- Usuarios -->
  <div class="col-4">
    <div class="card">
      <div class="card-body">

        <h3>Usuarios</h3>

        <div class="alert alert-info">
          <p class="mb-o">No hay usuarios con ese término</p>
        </div>

        <div class="table-responsive">

          <table class="table table-bordered" aria-label="tablaUsuarios">
            <thead>
              <tr>
                <th class="w100">Avatar</th>
                <th>Nombre</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">Avatar</td>
                <td>Nombre</td>
              </tr>
            </tbody>
          </table>

        </div>

      </div>
    </div>
  </div>

  <!-- Medicos -->
  <div class="col-4">
    <div class="card">
      <div class="card-body">

        <h3>Médicos</h3>

        <div class="alert alert-info">
          <p class="mb-o">No hay médicos con ese término</p>
        </div>

        <div class="table-responsive">

          <table class="table table-bordered" aria-label="tablaMedicos">
            <thead>
              <tr>
                <th class="w100">Avatar</th>
                <th>Nombre</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">Avatar</td>
                <td>Nombre</td>
              </tr>
            </tbody>
          </table>

        </div>

      </div>
    </div>
  </div>

  <!-- Hospitales -->
  <div class="col-4">
    <div class="card">
      <div class="card-body">

        <h3>Hospitales</h3>

        <div class="alert alert-info">
          <p class="mb-o">No hay Hospitales con ese término</p>
        </div>

        <div class="table-responsive">

          <table class="table table-bordered" aria-label="tablaHospitales">
            <thead>
              <tr>
                <th class="w100">Avatar</th>
                <th>Nombre</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">Avatar</td>
                <td>Nombre</td>
              </tr>
            </tbody>
          </table>

        </div>

      </div>
    </div>
  </div>

</div>
